html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#container {
  display: grid;
  min-height: 100vh;
  width: 100vw;        /* make it span full viewport width */
}

#main-content {
  flex: 1;
  padding: 2rem;
  background-color: var(--background-color);
  min-width: 0;           /* important to prevent overflow with flex items */
  display: flex;
}

